  #logout-btn {
    background-color: transparent;
    color: darkcyan;
    border-color: transparent;
    margin-top: 40px;
    font-size: 17px;
  }

  #spotify-login {
    width: 100%;
    height: 38px;
    background-color: #1ED760;
    border: none;
    border-radius: 5px;
    margin-top: 10%;
    font-size: 17px;
    font-weight: 400;
  }

  #spotify-login a {
    text-decoration: none;
    color: white;
  }

  #apple-login {
    width: 100%;
    height: 40px;
    margin-top: 20px;
    border: 0;
    background: url("./images/appleid_button_2x.png");
    background-size: 100%;
  }

  #sign-in-buttons {
    width: 250px;
    margin: 0 auto;
    margin-top: 10%;
  }

  .small-denom {
    font-size: 20px;
  }

  .container {
    margin-top: 80px;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  body {
    background-color: #1D1D1D;
  }

  .app-logo {
    object-fit: fill;
    width: 100px;
    height: 30px;
    margin-top: 50px;
  }

  .topic_header, dd, ul, #stats-title {
    text-align: start;
  }

  .topic_header {
    font-size: 17px;
    margin-top: 30px;
    color: #1ED760;
    font-weight: 500;
  }

  dd {
    font-size: 30px;
    font-style: italic;
  }

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  li,
  strong {
    font-size: 15px;
  }

  strong {
    font-style: italic;
  }

  .media-body {
    float: left;
  }

  .media-body section {
    width: 30%;
    float: left;
    padding-left: 20px;
  }

  #login,
  #loggedin {
    display: none;
  }

  #spotify-button-logo {
    width: 16px;
    height: 16px;
    background-size: 100%;
    margin-right: 10px;
  }

  img {
    width: 100px;
    height: 100px;
    border-radius: 40%;
    object-fit: cover;
  }

  .progress-line,
  .progress-line:before {
    height: 5px;
    width: 40%;
    margin: 0;
  }

  #loading {
    margin-top: 40%;
    margin-left: 40%;
  }

  .progress-line {
    background-color: #b3d4fc;
    display: -webkit-flex;
    display: flex;
  }

  .progress-line:before {
    background-color: #3f51b5;
    content: '';
    -webkit-animation: running-progress 2s cubic-bezier(0.4, 0, 0.2, 1) infinite;
    animation: running-progress 2s cubic-bezier(0.4, 0, 0.2, 1) infinite;
  }

  @-webkit-keyframes running-progress {
    0% {
      margin-left: 0px;
      margin-right: 100%;
    }

    50% {
      margin-left: 25%;
      margin-right: 0%;
    }

    100% {
      margin-left: 100%;
      margin-right: 0;
    }
  }

  @keyframes running-progress {
    0% {
      margin-left: 0px;
      margin-right: 100%;
    }

    50% {
      margin-left: 25%;
      margin-right: 0%;
    }

    100% {
      margin-left: 100%;
      margin-right: 0;
    }
  }